.modal-confirm-body {
  font-weight: bold;

  .players-changes {
    font-family: "alfa slab";
    font-size: 1.4em;
    color: black;
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
}

.players-options {
  font-family: "alfa slab";
  border-radius: 5px;
  width: 150px;
  padding: 5px 10px;
  font-size: 25px;
}

.navigation-btn {
  color: #b5b5b5;
}

.nav-label {
  color: #b5b5b5;
}

.active {
  transition: 0.2 ease-in-out;
  color: rgb(255, 255, 255);
  scale: 1.2;
  font-weight: bold;
}

.input-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s ease-in-out;

    &.error {
      border-color: rgb(255, 27, 27);
      box-shadow: 0 0 5px rgba(255, 54, 54, 0.5);
    }
  }
  input:focus {
    border-color: rgb(255, 27, 27);
    box-shadow: 0 0 5px rgba(255, 54, 54, 0.5);
    outline: none;
  }
  button {
    width: 50%;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  .footer-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: inherit;
    border: none;
    padding: 2px;
    color: #b5b5b5;
    opacity: 0.8;
    transition: 0.1s ease-in-out;
    &:hover {
      opacity: 1;
      cursor: pointer;

      .label {
        transition: 0.2s ease-in-out;
      }
      .icon {
        transition: 0.2s ease-in-out;
      }
    }
  }
}
