.main-menu-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .insert-player-input {
    display: flex;
    gap: 5px;
  }

  .btn {
    background-color: #930a0c !important;
    font-weight: bold !important;
    transition: opacity 0.2s ease;

    &:hover {
      background-color: inherit !important;
      border: 1px solid #930a0c;
    }
  }

  .btn:active {
    opacity: 0.5;
  }

  .button:disabled {
    background-color: #ccc;
    border-color: #ccc;
    color: #666;
  }
}
