.leaderboard-container {
  display: flex;
  flex-direction: column;

  .players-table {
    display: flex;
    flex-direction: column;
    height: 140px;
    gap: 10px;
    min-width: 140px;
    padding-bottom: 100px;
    overflow: hidden;

    .player {
      width: 100%;
      display: flex;
      justify-content: space-between;
      animation: floatUp 1s ease-in forwards;
    }
  }

  .open {
    height: unset;
  }

  @keyframes floatUp {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
