@import "./general.scss";

#root {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    overflow: hidden;
  }
}

.btn {
  font-weight: bold;
  background-color: #930a0c;
  border-color: #930a0c;
  color: white;
  height: 50px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
}
