.whatsapp-btn {
  background-color: transparent;
  border-color: transparent;
}

.refresh-button {
  background-color: #363b99;
  border: 1px #363b99 solid;
  border-radius: 8px;
  padding: 5px 15px;
  font-size: 25px;
}

.game-zone-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(175, 175, 175);

  .game-play-upper-btns {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .refresh-button {
      display: flex;
      gap: 10px;
      align-items: center;
      color: white;
      background-color: #930a0c;
      border-color: #930a0c;

      .refresh-txt {
        font-size: medium;
      }
    }
  }
  .actions-buttons-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 60px;

    .action-button {
      font-weight: bold;
      background-color: #930a0c;
      height: 50px;
      border-radius: 8px;
    }
  }

  .players-balance {
    width: 100%;
  }

  .choose-player-block {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 10px 0px;
  }

  .bin-button {
    border: 2px #930a0c solid;
    background-color: #ffffff;
    border-radius: 8px;
    padding-top: 2px;
    color: #930a0c;
  }

  .players-options {
    font-family: "Arial";
    border-radius: 5px;
    width: 150px;
    padding: 5px 10px;
    font-size: 25px;
  }

  .add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #930a0c;
    border-color: #930a0c;
    color: #ffffff;
    height: 50px;
    width: 50px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 12px;
  }
  .player-stats {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
    font-size: 25px;
    font-weight: bold;

    .kipud-controls {
      display: flex;
      gap: 10px;

      .balance-button {
        background-color: #930a0c !important;
        font-weight: bold !important;
        min-width: 30px;
        width: 40px;
        height: 35px;
        border-radius: 8px;
        padding-top: 5px;
        font-size: 25px;
        transition: transform 0.1s ease;
      }

      .balance-button:active {
        transform: scale(1.1);
        transition: transform 0.05s ease;
      }

      .number-container {
        position: relative;

        .animation {
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 26px;
          font-weight: bold;
          color: rgb(255, 255, 255);
          animation: pop-up 0.5s ease forwards;
        }

        @keyframes pop-up {
          0% {
            transform: translate(-50%, 0) scale(0.5);
          }
          50% {
            transform: translate(-50%, -10px) scale(1.2);
            opacity: 0.5;
          }
          75% {
            transform: translate(-50%, -15px) scale(1);
            opacity: 0.25;
          }
          100% {
            transform: translate(-50%, -20px) scale(1);
            opacity: 0;
          }
        }
      }

      .buy-in-count {
        display: flex;
        justify-content: center;
        width: 20px;
        padding: 0 5px;
        color: white;
      }
    }
  }

  .game-preperation-container {
    width: 80%;
    .start-game-btn {
      width: 100%;
      font-weight: bold;
      background-color: #930a0c;
      border-color: #930a0c;
      color: #ffffff;
      font-size: 25px;
      border-radius: 12px;
      margin-top: 15px;
    }

    .disabled {
      opacity: 0.5;
    }
    .tonights-players {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      list-style: none;
      padding-bottom: 10px;
      padding-right: 10px;
    }
  }
}

.post-game-players-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 30vh;
  width: 50vw;

  .post-game-players {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0px 15px;
  }
}

.game-play-title {
  letter-spacing: 0.1rem;
}

.game-play-title span:not(:last-child) {
  margin-right: 0.5rem;
}

.game-play-title span:nth-child(2) {
  animation: dot-1 2s infinite;
}

.game-play-title span:nth-child(3) {
  animation: dot-2 2s infinite;
}

.game-play-title span:nth-child(4) {
  animation: dot-3 2s infinite;
}

@keyframes dot-1 {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes dot-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes dot-3 {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
